<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="smart_contract.csg.ifi.uzh.ch.smartcontract">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        tools:replace="android:icon"
        android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.common.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.overview.ContractOverviewActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.detail.create.ContractCreateActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.detail.display.ContractDetailActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.setting.SettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.account.AccountActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

        <activity android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.profile.ProfileActivity" android:windowSoftInputMode="stateHidden" />
        <activity android:name="smart_contract.csg.ifi.uzh.ch.smartcontract.qrcode.QrScanningActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>